.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8px;
    padding: 12px;
}

a {
    text-decoration: none !important;
    font-family: Poppins, sans-serif;
    font-size: large;
    color: black !important;
    margin: auto 8px;
    text-align: center;
}

.links a:hover {
    transform: scale(1.2);
    border: 2px solid black;
    padding: 4px;
}

.mainLogo:hover {
    transform: scale(1.2);
}

.btn {
    background: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    color: var(--primary-color);
    cursor: pointer;
    font-size: 18px;
    border: 1px solid var(--primary-color);
  }
  
  .btn:hover {
    color: #fff;
    background-color: var(--primary-color);
  }