.container  {
    max-width: 900px;
    margin-left: 30px;
    margin-top: 50px;
}

.form {
    width: 700px;
}

.btn {
    background: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    color: var(--primary-color);
    cursor: pointer;
    font-size: 18px;
    border: 1px solid var(--primary-color);
  }
  
  .btn:hover {
    color: #fff;
    background-color: var(--primary-color);
  }